body{background-color: white;}
*{box-sizing: border-box;
margin: 0;
padding: 0;}

@media only screen and (max-width:425px){
    .container2{
        margin-left:24px !important;
        margin-right:24px !important;
    }
    .logo{
        margin-left: 90px !important;}
        .teqsti{
            margin-left: 80px !important;
        }
    
}

.button1{
    margin-bottom: 40px;
}
 .h{
    margin-left: 30px;
    margin-bottom: 5px;
 }
.container1{
  float: right;
  position: absolute;
  right: 0px;
  top: 32px;
}
.container2{
    margin-top: 230px;
    margin-left: 90px;
}
.container{
    margin-left: 10px;
}
.teqsti{
    color: #344054;
}
.spani{
    color: blue;
}
.teqsti{
    margin-left: 200px;
}
.img1{

   
}
.container3{
    display: flex;
    align-items: center;
}
.container4{
    margin-top: 200px;
    margin-left: 20px;
}